<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Video To JPEG</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
         {{ if .Error }}
             <div class="alert alert-danger" style="text-align: center;" role="alert"> 
                 <strong>{{.Error}}</strong>
             </div>
         {{ end }}

        <div style="margin: 200px 250px 100px 520px;">
            <div>
                <h1>Welcome!</h1>
            </div>
            <div style="margin-top: 2em;">
                <form enctype="multipart/form-data" action="/image_sets" method="post">
                    <input type="file" name="uploadfile" />
                    <input type="hidden" name="token" value="{{.}}"/>
                    <input type="submit" class="btn btn-success" value="Upload" style="margin-top:5px;"/>
                </form>
            </div>
        </div>
    </body>
</html>
